@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast text-bg-dark" role="alert" aria-live="assertive" aria-atomic="false">
        <div class="toast-header text-bg-dark">
            <i id="ToastMsgIcon" class="fas fa-check-circle"></i>
            <strong id="ToastMsgTitle" class="me-auto">.</strong>
            <small id="ToastMsgCount" class="badge text-bg-danger"></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="ToastMsgContent" class="toast-body">
            Waiting...
        </div>
    </div>
</div>