@page
@model MYChamp.Pages.Auth.LoginModel
@using MYChamp.AuthModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Auth_css/Login.css">
<link rel="stylesheet" href="~/css/site.css">

<!-- Bootstrap CSS -->
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<!-- jQuery and Bootstrap JS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <!-- Validation Summary -->
            <div class="text-danger" asp-validation-summary="All"></div>

            <!-- Display individual model errors -->
            @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div class="text-danger">@modelError.ErrorMessage</div>
            }

            <!-- Form -->
            <form method="post" class="border p-4 border-gray border-2 rounded-1">
                <!-- Username -->
                <div class="mb-3 form-floating">
                    <input type="text" asp-for="login_Model.Name" class="form-control" placeholder="Username" />
                    <label asp-for="login_Model.Name" class="form-label"><h6>Username</h6></label>
                    <span asp-validation-for="login_Model.Name" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="mb-3 form-floating">
                    <input type="password" asp-for="login_Model.Password" class="form-control" placeholder="Password" />
                    <label asp-for="login_Model.Password" class="form-label"><h6>Password</h6></label>
                    <span asp-validation-for="login_Model.Password" class="text-danger"></span>
                </div>

                <!-- Remember Me -->
                <div class="mb-3">
                    <input type="checkbox" asp-for="login_Model.RememberMe" class="form-check-input mt-2 mx-0" />
                    <label asp-for="login_Model.RememberMe" class="form-check-label">Remember me</label>
                </div>

                <!-- Submit Button -->
                <div class="mb-3 text-center py-4 row">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary" id="login_submit">Submit</button>
                    </div>
                    <div class="col-6 text-center">
                        <span class="text-info">Do not have an account?</span>
                        <a asp-page="/Auth/Register" class="btn" id="register_btn">Register Here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@if (Convert.ToBoolean(HttpContext.Session.GetString("popUpShow")))
{
    <div id="modalWrapper">
        <button type="button" class="btn btn-primary" id="popupbutton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="display:none;"></button>
        <!-- Modal -->
        <div class="modal fade modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-warning" id="staticBackdropLabel">Warning</h1>
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center fw-bold lead">Another Session is running. Do you want to cancel the running session?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a asp-page="/Auth/Forceful_logout" id="modalYes" class="btn btn-primary" role="button">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            
            var popUpShow = '@HttpContext.Session.GetString("popUpShow")';
            if (popUpShow === "true") {
                $("#popupbutton").click();
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
 