@page
@model MYChamp.Pages.Auth.LoginModel
@using MYChamp.AuthModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Auth_css/Login.css">



<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post" class="border p-4 border-gray border-2 rounded-1">
                <div class="mb-3">
                    <label asp-for="login_Model.Name" class="form-label"><h6>Username</h6></label>
                    <input type="text" asp-for="login_Model.Name" class="form-control" />
                    <span asp-validation-for="login_Model.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="login_Model.Password" class="form-label"><h6>Password</h6></label>
                    <input type="password" asp-for="login_Model.Password" class="form-control" />
                    <span asp-validation-for="login_Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="checkbox" asp-for="login_Model.RememberMe" class="form-check-input mt-2 mx -0" />
                    <label asp-for="login_Model.RememberMe" class="form-check-label">Remember me</label>
                </div>

                <div class="mb-3 text-center py-4 row">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary" id="login_submit">Submit</button>
                    </div>
                    <div class="col-6 text-center">
                      <span class="text-info">Do not have account</span><a asp-page="/Auth/Register" class="btn" id="register_btn">Register Here</a>
                    </div> 
                   
                   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}