@page
@model MYChamp.Pages.SuccessModel
@{
	Layout = "_Layout";
}
  
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-confirm">
		
			<div class="modal-content">

				<div class="modal-header justify-content-center">
					<div class="icon-box">
					<i class="fa-solid fa-check"></i>
					</div>
				
				</div>
			
				<div class="modal-body text-center">
					<h4>Great!</h4>

				@if (!string.IsNullOrEmpty(Model.SuccessMessage))
				{
					<p class="alert alert-success">
						@Model.SuccessMessage
					</p>
				}
				else
				{
					<p>Your test attempt has been successfully recorded.</p>
				}
				 
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back to Test Registration</button>
				</div>
			</div>
		</div>
	</div>
 

<script type="text/javascript">
    // Show the modal when the page is loaded
    $(document).ready(function () {
        $('#successModal').modal('show');

		// JavaScript function to redirect to CardRegistration page
		function redirectToCardRegistration() {
			window.location.href = '/CardRegistration'; // Redirect to the CardRegistration page
		}
    });
</script>
